DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/shadowscan

SECRET_KEY=replace_with_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60


# ======================
# Google OAuth
# ======================

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback


# ======================
# Gmail SMTP
# ======================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

SMTP_EMAIL=noreply.shadowscan@gmail.com
SMTP_PASSWORD=YOUR_APP_PASSWORD

SMTP_FROM=ShadowScan
